<% provide(:button_text, t("word.create.button")) %>

<div class="modal-header">
  <h2 class="modal-title"><%= t("word.create.title") %></h2>
  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
  <%= render 'form' %> 
</div>
